---
import Layout from '../layouts/Layout.astro';
// import "../../src/styles/globals.css"
---

<Layout title="Frontend Astro">
	<main>
		<h1 class="text-7xl text-center font-extrabold text-red-600">Bienvenido a<span class="text-secondary block">🚀 Astro 5</span></h1>
		<section>
			<h2>Publicaciones recientes</h2>
			<!-- Aquí se mostrarán las publicaciones recientes -->
		</section>
	</main>
</Layout>

<style>
	
</style>
