---
import PublicationsIndex from '@/components/PublicationsIndex.astro';
import Layout from '../layouts/Layout.astro';
// import { Hourglass } from 'lucide-react';
---

<Layout title="Frontend Astro">
	<main>
		<h1 class="text-7xl text-center font-extrabold text-primary">Bienvenido a<span class="text-secondary block">🚀 Astro 5</span></h1>
				<PublicationsIndex/>
				<!-- <PublicationsIndex client:load token={Astro.cookies.get("token")?.value} /> -->
					<!-- <span slot="fallback" class="flex items-center justify-center">
						<Hourglass className="animate-spin" />
						<h2>Cargando publicaciones...</h2>
					</span> -->
		
			
	</main>
</Layout>

