---
import { Button } from "./ui/button";
import { actions } from "astro:actions";
const userToken = Astro.cookies.get("token")
---

<header>
  <nav class="flex justify-between items-center w-dvw px-4">
    <Button variant="link"><a href="/">Inicio</a></Button>
    <Button variant="link"><a href="/about">Acerca de</a></Button>
    {userToken ? (
      <>
        <Button variant="link"><a href="/dashboard">Perfil</a></Button>
        <form method="POST" action={actions.logout}>
          <Button variant="outline" type="submit" id="logout" className="rounded-full hover:shadow-md hover:shadow-foreground">Cerrar sesión</Button>
        </form>

 
      </>
    ) : (
      <>
        <Button variant="link"><a href="/register">Registrarse</a></Button>
        <Button variant="outline" className="rounded-full hover:shadow-md hover:shadow-foreground"><a href="/login">Iniciar sesión</a></Button>
      </>
    )}
  </nav>
</header>

