---
import { Button } from "./ui/button";

const { user } = Astro.props;
---

<header>
  <nav class="flex justify-between items-center w-dvw px-4">
    <Button variant="link"><a href="/">Inicio</a></Button>
    <Button variant="link"><a href="/about">Acerca de</a></Button>
    {user ? (
      <>
        <Button variant="link"><a href="/dashboard">Perfil</a></Button>
        <Button variant="outline" className="rounded-full hover:shadow-md hover:shadow-white" id="logout">Cerrar sesi贸n</Button>
      </>
    ) : (
      <>
        <Button variant="link"><a href="/register">Registrarse</a></Button>
        <Button variant="outline" className="rounded-full hover:shadow-md hover:shadow-white"><a href="/login">Iniciar sesi贸n</a></Button>
      </>
    )}
  </nav>
</header>

<!-- <script>
  document.getElementById('logout')?.addEventListener('click', () => {
    // Implementar l贸gica de cierre de sesi贸n
    localStorage.removeItem('token');
    window.location.href = '/';
  });
</script> -->